<server description="transaction-event-integration-test">
	<featureManager>
		<feature>concurrent-2.0</feature>
		<feature>cdi-3.0</feature>
		<feature>jdbc-4.3</feature>
		<feature>restfulWS-3.0</feature>
		<feature>jsonb-2.0</feature>
	</featureManager>

	<dataSource jndiName="jdbc/testDatasource" type="javax.sql.ConnectionPoolDataSource">
		<jdbcDriver javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource">
			<library>
				<fileset dir="${server.config.dir}/lib/global" includes="h2*.jar" />
			</library>
		</jdbcDriver>
		<properties password="pwd" URL="jdbc:h2:mem:test;LOCK_TIMEOUT=20000;DB_CLOSE_DELAY=-1;INIT=runscript from '../../../../../../../transactional-event-core/src/test/resources/table.sql'" user="test" />
	</dataSource>
</server>